/* Carrosel ////////////////////////////////*/

/* #slide0{
  z-index: 10;
} */

#slide1{
  left: 100%;
}

#slide2{
  left: 200%;
}

.carroselBox{
  position: relative;
  display: flex;
  overflow-x: hidden;
  height: 20rem;
  margin-top: 1rem;
  


}

.carrosel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #dfdfdf;
    height: 20rem;
    border-radius: 20px;
    min-width: 100%;
    
}





.carroselText {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #3f936f8a;
    width: 100%;
    height: 13vh;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.carrosel img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.carroselText>p {
    margin: 0px;
}


/* Setas -> ////////////////////////////*/

.arrow{
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    transition: 200ms;
    z-index: 10;
}

.arrowEquipe{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  transition: 200ms;
  z-index: 10;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0 8px;
}

.arrow:hover{
    
    cursor: pointer;
}

#leftArrowNews{
    transform: scale(-1);
    transition: 200ms;
}

#leftArrowNews:hover{
    transform: scale(-1.5);
}

#rightArrowNews{
    transition: 200ms;
}

#rightArrowNews:hover{
    transform: scale(1.5);

}

.rightArrow {
    right: 1px;

}

.material-symbols-outlined {
    /* margin-top: 55px; */
    color: var(--text-base-color)


}

#leftArrow {
    display: flex;
    transform: scaleX(-1);
}

/* Visual das setas do carrossel de equipe */
.arrowEquipe .material-symbols-outlined{
  font-size: 36px;
  background: rgba(255,255,255,0.9);
  border-radius: 999px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  padding: 6px;
  cursor: pointer;
  color: #1b1b1b;
}
.arrowEquipe .material-symbols-outlined:hover{
  background: rgba(255,255,255,0.95);
}



.setasEquipe {
    display: flex;
    color: black;
}


/* equipe Carrosel //////////////*/

.equipeBox{
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 95%;
  overflow-x: hidden;
  min-height: 160px; /* garante espaço mesmo antes de imagens carregarem */
}


.equipeCarrosel {
  position: relative;
  overflow: hidden; /* carrossel real, sem barra de rolagem */
  padding: 8px 72px; /* área segura das setas */
}

.equipeTrack {
  display: flex;
  gap: 12px;
  transition: transform 400ms ease;
  will-change: transform;
}

/* Evita encolher os cards no track (mantém largura fixa) */
.equipeTrack > .cardEquipeMiniatura { flex: 0 0 auto; }


/* área de Formulario /////////////////// */

.formSection {
    display: flex;
    justify-content: space-around;
    margin: 4rem 0rem 4rem 0rem;
    


}

.formSection h2{
  font-size: 1rem;
}


form {
    display: flex;
    justify-content: center;
    margin: 20px;


}


.buttonForm {
    display: flex;
    justify-content: center;
}

#assuntoBox>form {
    height: 100px;


}

form>input,
textarea {
    width: 300px;
    /* border: solid 1px;
    border-radius: 5px; */
    border: none;
    padding: 7px;
    border-radius: 3px;
    /* box-shadow: inset 3px 4px 4px rgba(200, 200, 200, 0.5); */
    border-bottom: 1px solid rgba(200, 200, 200, 0.9);
    font-family: inherit;

}



.map p{
    max-width: 25rem;
  }


  

/* Area de colaboradores */

.areaColaboradores{
    display: flex;
    flex-direction: column;
}

.colabBox img {
    width: 8rem;
    margin: 2rem;
    object-fit: contain;
    
     
}

.colabBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

/* Unrelated */

button{
    margin: 3rem;
}


.card-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}


/* Responsividade página inicial */


@media screen and (max-width:1000px){
    /* Carrosel */


  .carroselBox{
    width: 95%;
  }
  

  .carrosel p {
    display: none;
  }



  /* Area de formulario */

  .formSection {
    max-width: 380px;
  }

  .map img {
    width: 180px;
    height: 200px;
  }

  .form {
    width: 10rem;
  }

  form>input,
  textarea {
    width: 100%;
    /* border: solid 1px;
    border-radius: 5px; */
    border: none;
    padding: 7px;
    border-radius: 3px;
    /* box-shadow: inset 3px 4px 4px rgba(200, 200, 200, 0.5); */
    border-bottom: 1px solid rgba(200, 200, 200, 0.9);
    font-family: inherit;

  }

  #assuntoBox>form {
    height: 60px;


  }

  .formSection h2 {
    font-size: large;
  }

  .formSection p {
    font-size: small;
  }

  .formSection button {
    display: flex;
    align-items: center;
    width: 60px;
    height: 10px;
    font-size: xx-small;
    margin-top: 0px;

  }

  /* Area de colaboradores */

  .areaColaboradores {
    max-width: 380px;
  }

  .colabBox img {
    width: 4rem;
    margin: 1rem;
    object-fit: contain;


  }
}