
<header>
    <div class="header">
        <div class="headerTop">
            <div class="title">
                <div class="logo">
                    <a href="/admin"><img src="/public/img/logo.png" alt="inpeimagem"></a>
                </div>
                <div class="agrirslab"> 
                    <a href="/admin"><h1><span style="color: #21A866;">Agri</span><span style="color: #2166A7;">RSLab</span></h1></a>
                </div>
            </div>
        </div>
        <nav>
            <a href="/admin/publicacoes" class="menu-button">Publicações</a>
            <a href="/admin/projetos" class="menu-button">Projetos</a>
            <a href="/admin/membros" class="menu-button">Membros</a>
            <a href="/admin/noticias" class="menu-button">Notícias</a>
        </nav>
    </div>
</header>