<header>
    <div class="header">
        <div class="headerTop">
            <div class="title">
                <div class="logo">
                    <a href="/"><img src="/public/img/logo.png" alt="inpeimagem"></a>
                </div>
                <div class="agrirslab"> 
                    <a href="/"><h1><span style="color: #21A866;">Agri</span><span style="color: #2166A7;">RSLab</span></h1></a>
                </div>
            </div>
        </div>
        <nav>
            <div class="sobre menu-group">
                <a class="menu-button">Sobre
                    <div class="arrow-down"></div>
                </a>
                <div class="submenu">
                    <a href="/sobre">O AgriRs</a>
                    <a href="/equipe">Equipe</a>
                    <a href="/?colaboradores">Colaboradores</a>
                    <a href="/facaparte">Oportunidades</a>
                </div>
            </div>
            <div class="atuacao menu-group">
                <a class="menu-button">Atuação
                    <div class="arrow-down"></div>
                </a>
                <div class="submenuAtuacao">
                    <!-- <a href="">Áreas de Pesquisa</a> -->
                    <a href="/projetos">Projetos</a>
                </div>
            </div>

            <a href="/publicacoes" class="menu-button">Publicações</a>
            <a href="/noticias" class="menu-button">Notícias</a>
            <a href="/contato" class="menu-button">Contato</a>

            <div class="idioma menu-group">
                <a class="menu-button">
                    Idioma
                    <div class="arrow-down"></div>
                </a>
                <div class="submenu">
                    <a href="#" data-value="PT-BR">🇧🇷 Português</a>
                    <a href="#" data-value="EN-US">🇺🇸 English</a>
                </div>
            </div>

            <a href="/admin" class="menu-button admin-login">Admin</a>
        </nav>
    </div>
</header>